.DS_Store
node_modules/
.cache/
.next/
.next-system/
.next-system-build/
.next-system-dev/
out/
system-dist/
storybook-static/
/public/
site/system-preview/out/
site/system-preview/public/design-system/fixtures/
site/system-preview/public/archive/design-system/fixtures/
dist/
build/
doc/
*.log
*.tsbuildinfo
.env*
